.isactive{
    color:#5252a9 ;
    text-decoration: none;
    font-size: larger;
    font-weight: bolder;

}
.basestyle{
    color:#111111 ;
    text-decoration: none;
    font-size: larger;
    font-weight: bolder;

}